footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #dde6d5;
}

.list-links {
    list-style-type: none;
    padding: unset;
}

li {
    a {
        font-size: 14px;
    }
}
