<!-- TODO center text horizontally and vertically and style color white -->
<section class="section-container">
  <div class="section-title-container">
    <h1 class="section-title">LandGate</h1>
    <p class="section-details">
      LandGate is the leading provider of data solutions, and an online
      marketplace for US commercial land and its resources: solar, wind, carbon,
      minerals, and water. The company helps investors, developers, real estate
      agents, and landowners understand energy & environmental resource values
      and connect on its online marketplace for land-related transactions.
    </p>
  </div>
</section>
