.people-container {
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center;
}

.card {
    margin: 1%;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
